{% extends 'users/layout.html' %}

{% block title %}
Register
{% endblock %}


{% block body %}
<div class="container outer">
    <div class="container inner">

        <h3 class="reg"><b>SIGN UP</b></h3>
        <form method="post">
            {% csrf_token %}

            <p>
                Username: {{ form.username }}
                {% if form.username.errors %}
                <small class="text-danger">{{ form.username.errors.0 }}</small>
                {% endif %}
            </p>

            <p>
                Email: {{ form.email }}
                {% if form.email.errors %}
                <small class="text-danger">{{ form.email.errors.0 }}</small>
                {% endif %}
            </p>

            <p>
                Password: {{ form.password1 }}
                {% if form.password1.errors %}
                <small class="text-danger">{{ form.password1.errors.0 }}</small>
                {% endif %}
            </p>

            <p>
                Confirm Password: {{ form.password2 }}
                {% if form.password2.errors %}
                <small class="text-danger">{{ form.password2.errors.0 }}</small>
                {% endif %}
            </p>

            {% if form.non_field_errors %}
            <div class="alert alert-danger mt-2">
                {{ form.non_field_errors }}
            </div>
            {% endif %}

            <button type="submit" class="btn btn-primary w-100">Register</button>
        </form>

        </form>
    </div>
</div>
{% endblock %}