.body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.container.outer {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container.inner {
    background-color: black;
    width: 30vw;
    height: 60vh;
    border-radius: 10px;
    border: 0.5px solid rgb(13, 110, 253);
    box-shadow: 0 0 1px 1px rgb(13, 110, 253);
}

.container.inner h3 {
    text-align: center;
    color: aliceblue;
}

.form {
    color: rgb(255, 255, 255);
}

.redirect {
    text-align: center;
    color: rgb(250, 254, 254);
}